UBUNTU_VERSION=18.04
UBUNTU_MIRROR=de
NOVNC_VERSION=1.0.0
WEBSOCKIFY_VERSION=0.8.0
TIGERVNC_VERSION=1.9.0
IMAGE_REPO=valentinvieriu/raven-wallet-novnc
RAVEN_VERSION=2.1.3
HOST_USER_UID=1000
HOST_USER_GID=1000
HOST_USER=default
VNC_PW=ycUvLPSY
